

.user-profile{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(30px,1fr)  270px (30px,1fr) ;
}

img.user-img{
    margin-left: 20px;
    margin-bottom: 1em;
    grid-column: 2/3;
    width: 217px;
    height: 217px;
    border-radius: 50%;
    /* max-width: 50%; */
}
p.user-bio{
    grid-column: 2/3;
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
    background: #ffffff;
    color: #4d4d4d;
    padding: 20px 40px 30px;
    width: 200px;
}
h3.user-name{
    grid-column: 2/3;
    text-align: center;

    background: #2980b9;
    color: #FFF;
    padding: 10px;

    width: 250px;

}
